<div class="ModalBackdrop-turbo-turbo" data-turbo-turbo--modal-target="modalBackdrop" data-action="click->turbo-turbo--modal#closeModal">
  <div class="Modal-turbo-turbo border border-gray-200 bg-white py-5 rounded-lg flex flex-col max-h-[95vh]" data-turbo-turbo--modal-target="modal">
    <div class="absolute right-0 top-0 pr-4 pt-4 sm:block">
      <button class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" type="button" data-action="turbo-turbo--modal#closeModal">
        <span class="sr-only">Close</span>
        <svg class="h-6 w-6 pointer-events-none" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <div id="modal_title_bar_turbo_turbo">
      <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
        <h3 class="text-base font-semibold leading-6 text-gray-900" data-turbo-turbo--modal-target="title"></h3>
        <p class="mt-1 text-sm text-gray-500" data-turbo-turbo--modal-target="subtitle"></p>
      </div>
    </div>
    <div id="modal_body_turbo_turbo" class="ModalBody-turbo-turbo p-4 max-w-full md:min-w-128" data-turbo-turbo--modal-target="body"></div>
    <div id="modal_footer_turbo_turbo" class="mt-6 flex flex-row items-center justify-end gap-x-6 px-4 py-2" data-turbo-turbo--modal-target="footer"></div>
  </div>
</div>
