<div class="flash rounded-md p-4 bg-blue-50" data-controller="turbo-turbo--flash">
  <div class="flex">
    <div class="flex-shrink-0">
      <svg class="w-5 h-5 text-blue-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd"></path>
      </svg>
    </div>
    <div class="ml-3">
      <% if @header %>
        <h3 class="text-sm font-medium text-blue-800"><%= @header %></h3>

        <% if @message.is_a?(Array) %>
          <ul role="list">
            <% @message.each do |item| %>
              <li class="mt-2 text-sm text-blue-700"><%= item %></li>
            <% end %>
          </ul>
        <% else %>
          <p class="mt-2 text-sm text-blue-700"><%= @message %></p>
        <% end %>
      <% else %>
        <h3 class="text-sm font-medium text-blue-800"><%= @message %></h3>
      <% end %>
    </div>
    <div class="ml-auto pl-3">
      <div class="-mx-1.5 -my-1.5">
        <button class="inline-flex rounded-md p-1.5 focus:outline-none focus:ring-2 focus:ring-offset-2 bg-blue-50 text-blue-500 hover:bg-blue-100 focus:ring-blue-600 focus:ring-offset-blue-50" type="button" data-action="turbo-turbo--flash#dismiss">
          <span class="sr-only">Dismiss</span>
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>